.ipynb_checkpoints
*/.ipynb_checkpoints/*
classes/.ipynb_checkpoints
classes/*/.ipynb_checkpoints/*

Dominos.ipynb
my_funcs.ipynb
PapaJohns-Copy1.ipynb
practice.ipynb
TODO.txt
data/stock_quotes_bak.csv